/*= CORE CSS */

.hidden {
  display: none;
}

.eventCalendar-wrap {
  position: relative;
  overflow: hidden;
  .arrow {
    position: absolute;
    z-index: 5;
    top: 3px;
  }
  .prev {
    left: 3px;
  }
  .next {
    right: 3px;
  }
}

.eventsCalendar-currentTitle .monthTitle {
  display: block;
  text-align: center;
}

.eventsCalendar-monthWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  &.currentMonth {
    z-index: 1;
  }
}

.eventsCalendar-daysList {
  display: table;
  width: 100%;
  &.showAsWeek {
    display: block;
  }
  li {
    display: table-cell;
    &.dayWithEvents {
      background: rgba(0, 0, 0, 0.15);
    }
    &.current {
      background: rgba(0, 0, 0, 0.35);
    }
  }
  &.showAsWeek li {
    display: block;
    float: left;
    width: 14.28%;
    height: 20px;
  }
  li a {
    padding: 0;
    display: block;
    text-align: center;
    font-size: 8px;
    min-width: 7px;
  }
}

.eventsCalendar-loading {
  display: block;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
}

.eventsCalendar-list {
  position: relative;
  z-index: 1;
  &.oldEventList {
    z-index: 2;
  }
}

.eventsCalendar-subtitle {
  padding-left: 5px;
  font-weight: bold;
  font-size: 120%;
}

/* end of core CSS */